<div class="titles">
    <div>
        <span class="results"><button onclick="remove({{this.id}})" class="btn-remove">-</button>
            {{!-- <button class="btn-imdb" onclick="showIMDB('1')">IMDB</button> --}}
            {{!-- <input id={{this.id}} type="hidden" value={{this.id}}> --}}
            IMDB Score: {{this.score}}|
            {{this.title}}|
            {{#if this.netflix}}
            <img src="images/netflix.png">
            {{/if}}
            {{#if this.hulu}}
            <img src="images/hulu.png">
            {{/if}}
            {{#if this.prime}}
            <img src="images/prime.png">
            {{/if}}
            {{#if this.disney}}
            <img src="images/disney+.png">
            {{/if}}
        </span>
    </div>
    <div id='1' class="hide">
        <p>This is where IMDB data will be displayed</p>
    </div>
</div>