<div class="titles">
    <span class="results"><button onclick="remove({{this.id}})" class="btn-remove">Remove</button>
        <span class="title">{{this.title}}</span>
        |
        IMDB Score:
        <span class="score">{{this.score}}</span>
        |
        Available on:
        {{#each this.streams}}

        <span class="{{this}}">{{this}}</span>
        {{/each}}
    </span>
    {{!-- <div id='1' class="hide">
        <p>This is where IMDB data will be displayed</p>
    </div> --}}
</div>